<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.upsa.mimo.gamesviewer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ApplicationExtend">

        <activity android:name=".activities.MainActivity"
            android:label="${appName}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.RegisterActivity"
            android:label="@string/str_register"
            android:parentActivityName=".activities.LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity"/>
        </activity>

        <activity android:name=".activities.HomeActivity"
            android:label="@string/app_home">
        </activity>

        <activity android:name=".activities.AboutActivity"
            android:label="@string/title_about"/>

        <activity android:name=".activities.ConfigActivity"
            android:label="@string/title_config"/>

        <activity android:name=".activities.LoginActivity"/>

        <service android:name=".services.ClipService"/>

        <receiver android:name=".notifications.NotificationPublisher"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

</manifest>
